{% extends 'base.html.twig' %}

{% block title %}Создание/редактирование опроса{% endblock %}

{% block body %}

<div class="example-wrapper">

{{ form_start(form) }}
        <div class="errors-list">{{ form_errors(form.title) }}{{ form_errors(form.status) }}{{ form_errors(form) }}</div>
        {{ form_label(form.title) }}{{ form_widget(form.title) }}
        {{ form_label(form.status) }}{{ form_widget(form.status) }}
        <ul class="questions"
            data-prototype-answer="{{ form_widget(form.questions.vars.prototype.children['answers'].vars.prototype)|e }}"
            data-prototype-question="{{ form_widget(form.questions.vars.prototype)|e }}">
            {% for question in form.questions %}
                <div  class="question">
                        {{ form_row(question.text) }}
                        {{ form_row(question.type) }}
                        {{ form_row(question.required) }}
                        <ul class="answers" data-prototype="{{ form_widget(question.answers.vars.prototype)|e }}">
                                {% for answer in question.answers %}
                                        <div class="answer">{{ form_row(answer.text) }}</div>
                                {% endfor %}
                        </ul>
                </div>
            {% endfor %}
        </ul>
{{ form_end(form) }}

</div>

{% endblock %}
