{% extends 'base.html.twig' %}

{% block title %}Показать результаты в разрезе определенных пользователей{% endblock %}

{% block body %}

<div class="example-wrapper">
        <h3>{{ survey.title }}</h3>
        <form action="{{ path('filter', {'id': survey.id}) }}" method="post" id="filter-form">
                {% for question in survey.questions %}
                    <div>
                        <div class="question-poll" data-question_id="{{ question.id }}">
                            <h4 class="question-text-filter">{{ question.text }}</h4>
                                {% for answer in question.answers %}
                                        <label for="{{ answer.id }}"  ><input type="checkbox" name="{{ question.id }}"
                                        value="{{ answer.id }}" id="{{ answer.id }}">{{ answer.text }}</label><br>
                                {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            <button id="send-filter">Показать результаты</button>
        </form>

</div>

{% endblock %}
