{% extends 'base.html.twig' %}

{% block title %}Показать результаты в разрезе определенных пользователей{% endblock %}

{% block body %}

<div class="example-wrapper">

        <form action="" method="post" id="filter-form">
                {% for question in survey.questions %}
                    <div>
                        <h4>{{ question.text }} {% if question.required == true %} * {% endif %}</h4>
                        <div class="question-poll" data-question_id="{{ question.id }}">
                                {% for answer in question.answers %}
                                        <label for="{{ answer.id }}"  ><input type="checkbox" name="{{ question.id }}"
                                        value="{{ answer.id }}" id="{{ answer.id }}">{{ answer.text }}</label><br>
                                {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            <button id="send-filter">Показать результаты</button>
        </form>

</div>

{% endblock %}
