{% extends 'base.html.twig' %}

{% block title %}Прохождение опроса{% endblock %}

{% block body %}

    <div>
        <a href="{{ path('index') }}"><button id="to-index">На главную</button></a>
    </div>
<div class="example-wrapper">
        <h2>Пройдите опрос</h2>
        <h3>{{ survey.title }}</h3>

    <form action="" method="post" id="survey-poll-form">

        {% for question in survey.questions %}
            <div>
                <h4>{{ question.text }} {% if question.required == true %} * {% endif %}</h4>
                <div class="question-poll" data-question_id="{{ question.id }}" {% if question.required == true %} data-required = '1' {% endif %}>
                    {% for answer in question.answers %}
                        {% if question.type == 'radio' %}
                            <label for="{{ answer.id }}"><input type="radio" name="{{ question.id }}" value="{{ answer.id }}" id="{{ answer.id }}">
                            {{ answer.text }}</label><br>
                        {% else %}
                            <label for="{{ answer.id }}"  ><input type="checkbox" name="{{ question.id }}" value="{{ answer.id }}" id="{{ answer.id }}">
                            {{ answer.text }}</label><br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        {% endfor %}
        <div id="errors"></div>
        <button id="send-survey">Отправить</button>
    </form>

</div>


{% endblock %}
