{% extends 'base.html.twig' %}

{% block title %}Прохождение опроса{% endblock %}

{% block body %}


<div class="example-wrapper">
        <h2>Пройдите опрос</h2>
        <h3>{{ survey.title }}</h3>

    <form action="" id="form" method="post">

        {% for question in survey.questions %}
            <div>
                <h4>{{ question.text }}</h4>
                <div>
                    {% for answer in question.answers %}
                        {% if question.type == 'radio' %}
                            <input type="radio" name="{{ question.id }}" value="{{ answer.id }}">
                            <span>{{ answer.text }}</span><br>
                        {% else %}
                            <input type="checkbox" name="{{ answer.id }}" value="{{ question.id }}">
                            <span>{{ answer.text }}</span><br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        {% endfor %}
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <button>Отправить</button>
    </form>














        

</div>


{% endblock %}
