{% extends 'base.html.twig' %}

{% block title %}Спипсок вопросов{% endblock %}

{% block body %}



<div class="example-wrapper">
{% if message is defined %}
<div id="message-active">
    <span style="color: {{ color }}">{{ message }}</span>
</div>
{% endif %}
<div>
        <h3>Активный опрос</h3>
        <table class="survey-list">
                {% for survey in surveys if survey.status == "active" %}
                    <tr class="survey-in-list">
                        <td>{{ survey.title }}</td>
                        <td><a href="{{ path('survey_view_result', {'id': survey.id}) }}" class="edit-survey-link">Посмотреть результаты</a></td>
                        <td><a href="{{ path('survey_close', {'id': survey.id}) }}" class="edit-survey-link">Закрыть опрос</a></td>
                        <td><a href="{{ path('survey_del', {'id': survey.id}) }}" class="edit-survey-link">Удалить опрос</a></td>
                    </tr>
                {% endfor %}

        </table>
</div>
<div>
        <h3>Черновики</h3>
        <table class="survey-list">
            {% for survey in surveys if survey.status == "draft" %}
                <tr class="survey-in-list">
                    <td>{{ survey.title }}</td>
                    <td><a href="{{ path('survey_edit', {'id': survey.id}) }}" class="edit-survey-link">Редактировать опрос</a></td>
                    <td><a href="{{ path('survey_activate', {'id': survey.id}) }}" class="edit-survey-link">Активировать опрос</a></td>
                    <td><a href="{{ path('survey_del', {'id': survey.id}) }}" class="edit-survey-link">Удалить опрос</a></td>
                </tr>
            {% endfor %}
        </table>
</div>
<div>
        <h3>Закрытые опросы</h3>
        <table class="survey-list">
            {% for survey in surveys if survey.status == "closed" %}
                <tr class="survey-in-list">
                    <td>{{ survey.title }}</td>
                    <td><a href="{{ path('survey_view_result', {'id': survey.id}) }}" class="edit-survey-link">Посмотреть результаты</a></td>
                    <td><a href="{{ path('survey_activate', {'id': survey.id}) }}" class="edit-survey-link">Активировать опрос</a></td>
                    <td><a href="{{ path('survey_del', {'id': survey.id}) }}" class="edit-survey-link">Удалить опрос</a></td>
                </tr>
            {% endfor %}
        </table>
</div>
<div  id="survey_create">
    <a href="{{ path('new') }}"><button>Создать новый опрос</button></a>
</div>



</div>

{% endblock %}
